  <super-navbar>
    <super-navbar-title>
      Koala
    </super-navbar-title>
  </super-navbar>

<div class="card">
  <div class="item item-text-wrap">
    <h4 class="message-date">Tuesday April 19th, 2015</h4>
    <p>Today was a great day! Had coffee with my colleague and saw a school of ducks cross the street.</p>
  </div>
</div>

<div class="card">
  <div class="item item-text-wrap">
    <h4 class="message-date">Tuesday April 20th, 2015</h4>
    <p>Today was such a bad day! My car got totaled and I failed my test :(</p>
  </div>
</div>

<div class="card">
  <div class="item item-text-wrap">
    <h4 class="message-date">Tuesday April 20th, 2015</h4>
    <p>I've been feeling SUPER lonely lately. My boyfriend just dumped me and now my friends are all leaving me out of their plans as well.</p>
  </div>
</div>

<div class="card">
  <div class="item item-text-wrap">
    <h4 class="message-date">Tuesday April 20th, 2015</h4>
    <p>Today was a great day! Had coffee with my colleague and saw a school of ducks cross the street.</p>
  </div>
</div>

<div class="card">
  <div class="item item-text-wrap">
    <h4 class="message-date">Tuesday April 20th, 2015</h4>
    <p>Today was a great day! Had coffee with my colleague and saw a school of ducks cross the street.</p>
  </div>
</div>

<div class="card">
  <div class="item item-text-wrap">
    <h4 class="message-date">Tuesday April 20th, 2015</h4>
    <p>Today was a great day! Had coffee with my colleague and saw a school of ducks cross the street.</p>
  </div>
</div>

