<div class="padding" ng-controller="SettingsController">

  <super-navbar>
    <super-navbar-title>
      Settings
    </super-navbar-title>
  </super-navbar>

  <div class="list">

    <label class="item item-input item-select">
      <div class="input-label">
        Daily Message Time
      </div>
      <select>
        <option>6:00 AM</option>
        <option>7:00 AM</option>
        <option>8:00 AM</option>
        <option>9:00 AM</option>
        <option>10:00 AM</option>
        <option>11:00 AM</option>
        <option>12:00 PM</option>
        <option>1:00 PM</option>
        <option>2:00 PM</option>
        <option>3:00 PM</option>
        <option>4:00 PM</option>
        <option>5:00 PM</option>
        <option>6:00 PM</option>
        <option>7:00 PM</option>
        <option selected>8:00 PM</option>
        <option>9:00 PM</option>
        <option>10:00 PM</option>
        <option>11:00 PM</option>
        <option>12:00 AM</option>
     </select>
    </label>

    <center>
    <button class="button button-outline button-balanced save-time">
      Save Settings
    </button>
    </center>
  </div>

</div>
