<div class="padding" ng-controller="SettingsController">

  <super-navbar>
    <super-navbar-title>
      About
    </super-navbar-title>
  </super-navbar>

  <h1>Welcome</h1>

  <p>Koala is a private place for you to log your daily thoughts and life highlights.  It is a new way for you to keep a journal, and now you can document your life anywhere or any time.</p>

  <p>
  <h4> How Do I Get Started? </h4>
  <p>
  <p>Koala should have already texted you. Make sure you have added Koala to your contacts, and then start logging your thoughts by texting Koala.  Add a hashtag between 1 and 5 (you can assign your own meaning to this rating) to add a rating to your posts, which Koala will track. #5</p>
  <p>
  <h4> When Will Koala Send Me A Reminder? </h4>
  <p>
  <p>Koala will remind you to log something every day at 8 pm EST; however, you can text Koala any time and your entry will be recorded.</p>
  <p>
  <h4> Why Use Koala? </h4>
  <p>
  <p>While a physical journal can be familiar and nostalgic, being able to make entries anywhere and anytime can be invaluable for keeping track of your life.  Also, we know that many people have a hard time remembering to make daily entries. That's why Koala will send you a friendly reminder each day to make it more likely that you make an entry.  Studies have shown (and I'm sure most of you already know) that keeping tabs on your life can help lead it in the right direction, and Koala is here to make that easy for you.  It doesn't hurt that your information can be found right on your mobile device, something most of us carry everywhere these days. </p>
  
</div>
