.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.message {
	padding: 15px;
}

.message-date {
	text-align: left;
}

.save-time {
	margin: 25px;
}

.rating {
	text-align: right;
}