.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.message {
	padding: 15px;
}

.message-date {
	text-align: left;
	display: inline;
}

.save-time {
	margin: 25px;
}

.rating {
	text-align: right;
}

.rating-upper-bound{
	margin-top: -2px;
	height: 35px;
}
.rating-lower-bound {
	margin-top: -2px;
	height: 40px;
}

/*used for heart images*/
img{
	width:15px;
	height: 11px;
	float: right;
	margin-top: 6px;
	vertical-align: text-bottom;

}

/*below are filters used for image manipulation.*/
.saturate {-webkit-filter: saturate(3);}
.grayscale {-webkit-filter:  opacity(30%) hue-rotate(200deg);;}
.contrast {-webkit-filter: contrast(160%);}
.brightness {-webkit-filter: brightness(0.25);}
.blur {-webkit-filter: blur(3px);}
.invert {-webkit-filter: invert(100%);}
.sepia {-webkit-filter: sepia(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);}
.rss.opacity {-webkit-filter: opacity(50%);}

.rating-slide-bar{
	width:30px;
	height: 25px;
}

.search-button-div{
	margin-left: 15px;
}
.search-button{
	margin-top:-10px;
	margin-bottom:-5px;
}
.search-button-underlined{
	margin-top:-10px;
	margin-bottom:-5px;
	text-decoration: underline;
}


.label-button1{
	margin-left: 5px;
	margin-top: 0px;
	margin-bottom:-5px;
}

.label-button2{
	margin-left: 5px;
	margin-top: 0px;
	margin-bottom:-5px;
}
.date-pickers{
	display: inline;
}
.date-start-input{
	width: 130px;
	float:left;
	line-height: 30px!important;
	text-align: left;
	margin-bottom: 5px;
	margin-bottom: 10px;
	border:black solid 1px !important;
}
.date-end-input{
	width: 130px;
	float:right;
	line-height: 30px!important;
	text-align: left;
	margin-bottom: 5px;
	margin-bottom: 10px;
	border:black solid 1px !important;

}
.label-start{
	margin-top: -10px;
	width: 46%;
	float: left;
	margin: 5px;
}
.label-end{
	margin-top: -10px;
	width: 38%;
	float:right;
	margin:5px;
}
.data-pickers{
	vertical-align: middle;
}

