<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">_id</span>
    <input type="text" ng-model="message['_id']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">text</span>
    <input type="text" ng-model="message['text']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">__v</span>
    <input type="text" ng-model="message['__v']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">date</span>
    <input type="text" ng-model="message['date']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
