<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Koala
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">

      <super-navigate location="message#show" data-params-id="{{ message.id }}" ng-repeat="message in messages | orderBy: '-date'">
      <div class="card" ng-hide="messages.length == 0">
        <div class="item item-text-wrap">
          <h4 class="message-date">{{message['date'] | date:'EEEE MMM dd, yyyy'}}</h4>
          {{message['text']}}
        </div>
    </div>
      </super-navigate>
    <h4 ng-show="messages.length == 0" class="assertive padding">
      No messages found. Text XXX-XXX-XXXX to get started!
    </h4>

    <!--<super-modal-show location="message#new">
      <button class="button button-full button-positive">
        Create a new message
      </button>
    </super-modal-show>-->
  </div>
</div>
