<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2>
      <span ng-bind="message['id']"></span>
    </h2>

        <div class="item item-text-wrap">
          <h4 class="message-date">
            <h2>{{dataId['date'] | date:'EEEE MMM dd, yyyy'}} </h2>
            <img ng-src= "{{dataId['rating']>4 ?fullHeartURL:emptyHeartURL}}" ng-class="{'grayscale':dataId['rating']<3,'showHeart': true}"/> <!-- "http://i58.tinypic.com/2akg4mv.png" empty heart-->
            <img ng-src= "{{dataId['rating']>3 ?fullHeartURL:emptyHeartURL}}"  ng-class="{'grayscale':dataId['rating']<3,'showHeart': true}")/> <!-- "http://i57.tinypic.com/23vyzk5.png" half heart-->
            <img ng-src= "{{dataId['rating']>2 ?fullHeartURL:emptyHeartURL}}"  ng-class="{'grayscale':dataId['rating']<3, 'showHeart': true}")/> <!-- "http://i60.tinypic.com/10crg5k.png" full heart-->
            <img ng-src= "{{dataId['rating']>1 ?fullHeartURL:emptyHeartURL}}"  ng-class="{'grayscale':dataId['rating']<3,'showHeart': true}")/>
            <img ng-src= "{{dataId['rating']>0 ?fullHeartURL:emptyHeartURL}}"  ng-class="{'grayscale':dataId['rating']<3,'showHeart': true}")/></h4>
            <p>

          <span class="rating"><h3>Rating: {{dataId['rating']}}/5</h3></span>
          <p>
          <h1 class="bigMessage">{{dataId['text']}}</h1>
          <!--Leave this above line in for debugging purposes only-->
        </div>
      
      

    </div>
  </div>
</div>
